@model TopRatedViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cocktails Magician</h1>
</div>

<section>
    <div class="container-fluid">


        <div id="carouselExampleIndicators" class="carousel slide ltr" data-ride="carousel" align="center">
            <h3>Top Rated Cocktails</h3>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.TopRatedCocktails.First().Id"> <h5 class="card-title">  <img class="d-block" src="@Model.TopRatedCocktails.First().ImagePath" alt="Card image cap"></h5></a>

                    <div class="carousel-caption">
                        <h3 class="font-cinzel">@Model.TopRatedCocktails.First().Name</h3>
                        <p>

                            <strong>@String.Format("{0:0.0}", Model.TopRatedCocktails.First().Rating)</strong>
                        </p>
                    </div>
                </div>

                @foreach (var item in Model.TopRatedCocktails.Skip(1))
                {
                    <div class="carousel-item">
                        @if (item.ImagePath != null)
                        {
                            <a asp-controller="Cocktails" asp-action="Details" asp-route-id="@item.Id">
                                <h5 class="card-title">  <img class="d-block " src="@item.ImagePath" alt="Card image cap"></h5>
                            </a>
                        }
                        else
                        {
                            <h5 class="card-title">
                                <img class="card-img-top image-bar-index" src="~/images/noPhotoAvailable.jpg" alt="Card image cap">
                            </h5>
                        }

                        <div class="carousel-caption">
                            <h3 class="font-cinzel">@item.Name</h3>
                            @String.Format("{0:0.0}", item.Rating)

                        </div>
                    </div>
                }
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="text-center">
        <h3>Top Rated Bars</h3>
    </div>
    <div class="row">
        @foreach (var bar in Model.TopRatedBars)
        {

            <partial name="_BarPartial" model="@bar" />
        }

    </div>
</div>
<partial name="_ValidationScriptsPartial" />
