@model IEnumerable<Cocktail>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cocktails Magician</h1>

</div>

<section>
    <div class="container-fluid">

        <div id="carouselExampleIndicators" class="carousel slide ltr" data-ride="carousel" align="center">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.First().Id"> <h5 class="card-title">  <img class="d-block" src="@Model.First().ImagePath" alt="Card image cap"></h5></a>

                    <div class="carousel-caption">
                        <h3 class="font-cinzel">@Model.First().Name</h3>
                        <p>

                            <strong>@String.Format("{0:0.0}", Model.First().Rating)</strong>
                        </p>
                    </div>
                </div>

                @foreach (var item in Model.Skip(1))
                {
            <div class="carousel-item">
                <a asp-controller="Cocktail" asp-action="Details" asp-route-id="@item.Id"> <h5 class="card-title">  <img class="d-block " src="@item.ImagePath" alt="Card image cap"></h5></a>

                <div class="carousel-caption">
                    <h3 class="font-cinzel">@item.Name</h3>
                    @String.Format("{0:0.0}", item.Rating)

                </div>
            </div>
                }
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<partial name="_ValidationScriptsPartial" />
