@model IEnumerable<Cocktail>
@{
    ViewData["Title"] = "Index";
}

<h1>Cocktails</h1>

<div class="col-md-4">
    <p>
        @Html.ActionLink("Search", "Search", "Cocktails", null, new { @class = "btn btn-primary" })

        @if ((User.IsInRole("Admin")))
        {

            @Html.ActionLink("New Cocktail", "Create", "Cocktails", null, new { @class = "btn btn-primary" })
            <div class="row"></div>
            @Html.ActionLink("Ingredients", "Index", "Ingredients", null, new { @class = "btn btn-primary" })
        }
    </p>
    <br />
</div>

<br />
@if (!Model.Any())
{
    <p>We don't have any cocktails yet.</p>
}
<div class="row">
    @foreach (var cocktail in Model)
    {
        <partial name="_CocktailPartial" model="@cocktail" />
    }
</div>


<div class="container">
    <br>
    @if (ViewBag.Page > 0)
    {
        <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page-1)"
           class="btn btn-primary">
            &laquo; Prev
        </a>
        <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page-1)"
           class="btn btn-light">
            @(ViewBag.Page)
        </a>
    }
    <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page)"
       class="btn btn-primary">
        @(ViewBag.Page + 1)
    </a>
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page+1)"
           class="btn btn-light">
            @(ViewBag.Page + 2)
        </a>
        <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page + 1)"
           class="btn btn-primary">
            Next &raquo;
        </a>
    }
</div>
