@model IEnumerable<Cocktail>
@{
    ViewData["Title"] = "Index";
}

<h1>Cocktails</h1>

@Html.ActionLink("New Cocktail", "Create", "Cocktails", null, new { @class = "btn btn-primary" })
@if ((User.IsInRole("Admin")))
{
    @Html.ActionLink("Ingredients", "Index", "Ingredients", null, new { @class = "btn btn-primary" })}
@if (!Model.Any())
{
    <p>We don't have any cocktails yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Recipe</th>
                <th>Rating</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Review</th>
                }
                @if (User.IsInRole("Admin"))
                {
                    <th>Edit</th>
                    <th>Is Hidden</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var cocktail in Model)
            {
                <tr>
                    <td>@Html.ActionLink(cocktail.Name, "Details", "Cocktails", new { id = cocktail.Id }, null)</td>
                    <td>@cocktail.Recipe</td>
                    <td>@cocktail.Rating</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td><a asp-controller="Cocktails" asp-action="Review" asp-route-Id="@cocktail.Id" button type="submit" method="post" class="btn btn-primary">Review</a></td>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <td><a asp-controller="Cocktails" asp-action="Edit" asp-route-Id="@cocktail.Id" button type="submit" method="post" class="btn btn-primary">Edit</a></td>

                        @if (cocktail.IsHidden == false)
                        {
                            <td>
                                <a asp-controller="Cocktails" asp-action="Toggle" class="btn btn-danger" asp-route-Id="@cocktail.Id"><strong>Hide</strong></a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-controller="Cocktails" asp-action="Toggle" class="btn btn-success" asp-route-Id="@cocktail.Id"><strong>Show</strong></a>

                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (ViewBag.Page > 0)
{
    <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page-1)"
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a asp-controller="Cocktails" asp-action="Index" asp-route-id="@(ViewBag.Page+1)"
       class="btn btn-default">
        Next &raquo;
    </a>
}

<p>@(ViewBag.Page + 1)</p>

