@model Cocktail
<div class="col-sm-4 col-lg-4 col-md-4" align="center">
    <div class="margin-bar-card shadow">
        <div class="caption">
            <h3>
                <a asp-controller="Cocktails"
                   asp-action="Details"
                   asp-route-id="@Model.Id">@Model.Name</a>
            </h3>
            <h3 class="pull-right">@Model.Rating</h3>
        </div>
        @if (Model.ImagePath != null)
        {
            <a asp-controller="Cocktails" asp-action="Details" asp-route-id="@Model.Id"> <h5 class="card-title">  <img class="card-img-top image-cocktail-index" src="@Model.ImagePath" alt="Card image cap"></h5></a>
        }
        else
        {
            <img class="card-img-top image-bar-index" src="~/images/noPhotoAvailable.jpg" alt="Card image cap">
        }
        <div class="container">
            @Model.Recipe
        </div>
        <p>
            <div class="container">
                <a asp-controller="Cocktails" asp-action="Review" asp-route-Id="@Model.Id" button type="submit" method="post" class="btn btn-primary">Review</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Cocktails" asp-action="Edit" asp-route-Id="@Model.Id" button type="submit" method="post" class="btn btn-primary">Edit</a>

                    @if (Model.IsHidden == false)
                    {
                        <a asp-controller="Cocktails" asp-action="Toggle" class="btn btn-danger" asp-route-Id="@Model.Id">Hide</a>
                    }
                    else
                    {
                        <a asp-controller="Cocktails" asp-action="Toggle" class="btn btn-success" asp-route-Id="@Model.Id">Show</a>
                    }
                }
            </div>
        </p>
    </div>
</div>

