@model CocktailMagician.Contracts.Bar
@{
    ViewData["Title"] = "Details";
}
    <h1>Details</h1>
<ul>
    <li>Bar Name: @Model.Name</li>
    <li>Bar Address: @Model.Address</li>
    <li>Rating: @Model.Rating</li>
</ul>
@foreach (var cocktail in Model.Cocktails)
{ 
<ul>
    <li>Cocktail Name: @cocktail.Name</li>
    <li>Cocktail Recipe: @cocktail.Recipe</li>
    <li>Rating: @cocktail.Rating</li>
</ul>
}



 