@model Bar
@{
    ViewData["Title"] = @Model.Name;
}
<h3>@Model.Name</h3>

<style>
    .stars-outer {
        position: relative;
        display: inline-block;
    }

    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
    }

    .stars-outer::before {
        content: "\f005\f005\f005\f005\f005";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #ccc;
    }

    .stars-inner::before {
        content: "\f005\f005\f005\f005\f005";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #f8ce0b;
    }
</style>

<div style="display:inline-block;vertical-align:top;">
    <img src="@Model.ImagePath" alt="img" class="img-circle " width="255" height="255" />
</div>
<div style="display:inline-block;">
    <div><strong>Address: @Model.Address</strong></div>
    <div></div>
    <div><strong>Rating: @Model.Rating</strong></div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr class="@Model.Name">
                    <td>
                        <div class="stars-outer">
                            <div class="stars-inner"></div>
                            <span class="number-rating"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        // ratings
        const rating = @Model.Rating;
        
        //total stars
        const starsTotal = 5;

        // run getRatings when DOM loads
        document.addEventListener('DOMContentLoaded', getRatings);

        // get ratings
        function getRatings() {

            // get percentage
            const starPercentage = (rating / starsTotal) * 100;
            //round to nearest 10
            const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
            // set witdth of stars-inner to percentage
            document.querySelector(` .stars-inner`).style.width = starPercentageRounded;
        }
    </script>
</div>
<div>

</div>
<h3>Cocktails</h3>
<h6><strong>Cocktails:</strong></h6> @string.Join(", ", Model.Cocktails.Select(x=>x.Name))

@*@foreach (var cocktail in Model.Cocktails)
    {
        <ul>
            <li>Cocktail Name: @cocktail.Name</li>
            <li>Cocktail Recipe: @cocktail.Recipe</li>
            <li>Rating: @cocktail.Rating</li>
        </ul>
    }*@



