@model IEnumerable<Bar>
@{
    ViewData["Title"] = "Bars";
}

<h1>Bars</h1>

@Html.ActionLink("New Bar", "Create", "Bars", null, new { @class = "btn btn-primary" })

<div class="container">
    @if (!Model.Any())
    {
        <p>We don't have any bars yet.</p>
    }

    <div class="row">
        @foreach (var bar in Model)
        {
            <partial name="_BarPartial" model="@bar" />
        }
    </div>
</div>

@if (ViewBag.Page > 0)
{
    <a asp-controller="Bars" asp-action="Index" asp-route-id="@(ViewBag.Page-1)"
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a asp-controller="Bars" asp-action="Index" asp-route-id="@(ViewBag.Page + 1)"
       class="btn btn-default">
        Next &raquo;
    </a>
}

<p>@(ViewBag.Page + 1)</p>
<br />
